.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

main {
	background: $color__bgmp-wheat;
	margin-top: 7vh;
	padding-bottom: 5rem;

	@media (min-width: 768px) {
		margin-top: 9.9vh;
	}
}

.single {
	.entry-title {
		margin-top: 2rem;
	}
}

.entry-header,
.page-header {
    background: $color__bgmp-blue;
    text-align: center;
    padding: 3.5rem 1rem;

	.entry-categories {
		a {
			text-transform: uppercase;
			font-weight: 600;
			padding: 0 1rem;
		}
	}


	.entry-meta {
		span {
			padding: 0 .7rem;
			display: inline-block;
			color: $color__bgmp-grey;

			&.author {
				padding: initial;
			}

			a {
				color: $color__bgmp-grey;
			}
		}
	}
}

.entry-content {
	margin-top: 5rem;

	.wp-block-search {
		margin: 2rem auto;

		@media (min-width: 768px) {
			width: 65%;
			margin: 3rem auto;
		}
	}

	.wp-block-latest-posts {
		&.is-grid {
			li {
				border-top: 0.2rem solid #dcd7ca;
				margin-top: 1rem;
				padding-top: 1rem;
			}
		}
		&.has-dates {
			list-style: none;

			&:not(.is-grid) {
				li {
					margin-top: 1.5rem;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		a {
			font-weight: 700;
			letter-spacing: -0.025em;
			line-height: 1.25;
			text-decoration: none;
			color: $color__bgmp-pink;
			font-size: 1.2rem;
		}

		@media (min-width: 768px) {
			width: 70%;
			margin: 3rem auto;
			&.is-grid {
				li {
					margin-top: 2rem;
					padding-right: 1rem;
				}
			}
			a {
				font-size: 1.4rem;
			}
		}
	}

	hr,
	hr.styled-separator {
		margin: 4rem auto;
		position: relative;
		background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
		background-color: transparent !important;
		border: none;
		height: 0.1rem;
		overflow: visible;

		&::before,
		&::after {
			background: currentColor;
			content: "";
			display: block;
			height: 1.6rem;
			position: absolute;
			top: calc(50% - 0.8rem);
			transform: rotate( 22.5deg );
			width: 0.1rem;
		}

		&::before {
			left: calc(50% - 0.5rem);
		}

		&::after {
			right: calc(50% - 0.5rem);
		}

		@media (min-width: 768px) {
			&.wp-block-separator {
				margin: 8rem auto;
			}
		}
	}
}

#comments {
	padding-top: 3rem;
}

.portfolios_page {
	position: relative;
	height: 350px;
	max-height: 350px;
	margin: 1rem auto;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	a {
		img {
			display: block;
			height: 100%;
			object-fit: cover;
		}

		&:hover {
			.overlay {
				height: 100%;
			}
		}
	}

	.overlay {
		position: absolute;
		bottom: 0;
		background-color: rgba(#FFF, .8);
		overflow: hidden;
		width: 92.3%;
		height: 0;
		transition: .5s ease;

		.entry-title {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
		}
	}
}

.single-portfolios_page {
	.tech {
		ul {
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				display: inline-block;
				padding: .5rem;
				vertical-align: middle;

				img {
					display: block;
					width: 120px;
					background: #FFF;
				}
			}
		}
	}
}

.post-type-archive-portfolios_page {
	.logos {
		justify-content: center;
		align-items: center;

		img {
			height: 70px;
			margin: .6rem;
		}
	}

}