.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

main {
	background: $color__bgmp-wheat;
	margin-top: 7vh;

	@media (min-width: 768px) {
		margin-top: 10vh;
	}
}
