/* FOOTER */
footer {
	padding: 2rem 1rem;
	box-shadow: 0 7px 20px 0 rgba($color: #000000, $alpha: .15);

	.row {
		justify-content: center;
		align-items: center;
		// .logo {
		// 	text-align: center;
		// 	a img {
		// 		width: 200px;
		// 	}
		// }
		// .search {
		// 	text-align: center;

		// 	.search-submit {
		// 		background: none;
		// 		font-size: 1.2rem;
		// 		padding: 0;
		// 		border: none;
		// 		line-height: 2rem;
		// 		transition: 0.3s;

		// 		&:hover {
		// 			font-size: 1.6rem;
		// 		}
		// 	}

		// 	@media (min-width: 768px) {
		// 		text-align: left;
		// 	}
		// }
	}

	a,
	a:visited {
		color: $color__bgmp-grey;
		transition: 0.3s;

		&:hover {
			text-decoration: none;
			color: $color__bgmp-pink;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			display: block;
			background: none;
			font-size: .8rem;
			text-align: center;
		}
	}

	// .contact-us {
	// 	border-color: $color__bgmp-grey;
	// 	transition: 0.7s;

	// 	&:hover {
	// 		background: $color__bgmp-pink;
	// 		border-color: $color__bgmp-pink;
	// 		color: #FFF;

	// 		& > a {
	// 			color: #FFF;
	// 		}
	// 	}
	// }

	.social-network {
		p {
			text-align: center;
			color: $color__bgmp-pink;
			margin-bottom: .8rem;
			font-weight: 600;
		}
		.row {
			text-align: center;
			i {
				font-size: 2.8rem;
				color: rgba($color__bgmp-grey, .6);
				transition: 0.5s;
				&.fa-facebook:hover {
					color: #3b5998;
				}
				&.fa-instagram {
					border-radius: 10px;
					padding: 0 2px;
					&:hover {
						background: linear-gradient(to top right , #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
						background: -webkit-linear-gradient(to top right , #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
						background: -moz-linear-gradient(to top right , #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
						color: white;
					}
				}
				&.fa-linkedin:hover {
					color: #0e76a8;
				}
				&.fa-twitter:hover {
					color: #1DA1F2;
				}
				&.fa-github:hover {
					color: #333;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.logo,
		.contact-us,
		.social-network {
			margin: .5rem auto;
		}
	}

	.mentions {
		margin-top: 2rem;
		color: $color__bgmp-grey;
		font-size: 1.2rem;

		.copy {
			text-align: right;
			padding-right: 5rem;
		}

		@media (max-width: 968px) {
			.col-12 {
				text-align: center;
			}
		}
	}
}
