section {
    padding: 4rem 1rem;

    &#presentation {
        height: 86vh;
        background: url('./assets/img/sky.jpeg') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: soft-light;

        @media (min-width: 768px) {
            height: 90vh;
        }

        .container {
            padding: 2rem;

            p {
                text-align: center;
            }
        }

        .i-down {
            font-size: 2rem;
            position: absolute;
            width: fit-content;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            &:hover {
                cursor: pointer;
            }
        }
    }

    h1 {
        width: fit-content;
        margin: 1.5rem auto;
        padding-left: 5.5rem;
        padding-top: 1rem;
        font-size: 3rem;
        line-height: 4rem;
        color: $color__bgmp-blue;
        background: url('./assets/img/triangle.png') no-repeat;
        background-position: left;
        background-size: 5rem;

        span {
            display: block;
            margin-top: -2rem;
            font-size: 1rem;
            font-weight: 400;
            font-family: $font__poppins;
            color: $color__bgmp-grey;
        }

        @media (min-width: 768px) {
            text-align: center;
            margin: 4rem auto;
            padding-left: 4rem;
            padding-top: 0;
            line-height: initial;
            background-size: 4rem;

            span {
                display: initial;
                margin-top: 0;
                font-size: 1.5rem;
            }
        }
    }

    &#description {
        h2 {
            display: none;
        }
    }

    &#portfolio,
    &#contact {
        h2 {
            color: $color__bgmp-blue;
            margin: 2rem auto;
        }
    }

    &#portfolio{
        background: white;

        .btn {
            margin: 2rem auto;
            padding: .5rem 3rem;
            text-transform: uppercase;
            color: $color__bgmp-blue;
            font-weight: 600;
            border: 2px solid $color__bgmp-blue;
            border-radius: initial;
            transition: 0.7s;

            &:hover {
                background: $color__bgmp-purple;
                color: #FFF;
                border-color: $color__bgmp-purple;
            }
        }
    }

    &#blog {
        height: 50vh;
        background: url('./assets/img/water.jpg') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: soft-light;
        position: relative;
        background-color: rgba(#FFF,0.25); /* white background with opacity */

        h2 {
            color: $color__bgmp-purple;
            margin: 2rem auto;
        }

        a {
            transition: 0.3s;
            &:hover {
                text-decoration: none;
            }
        }

        span {
            font-weight: 700;
            color: $color__bgmp-purple;
            transition: 0.3s;

            &:hover {
                color: $color__bgmp-pink;
            }
        }
    }

    &#contact {
        img {
            display: block;
            width: 100%;
        }
    }

}