// .home {
//     @media (min-width: 768px) {
//         font-size: 1.1rem;
//     }
// }

section {
    padding: 5rem 1rem;

    .container {
        padding: 0;
    }

    &#offre,
    &#portfolio,
    &#contact {
        h2 {
            font-size: 4rem;
            font-weight: 900;
            color: $color__bgmp-pink;
            margin: 2rem auto;
        }
    }

    &#presentation,
    &#offre,
    &#contact {
        background-color: $color__bgmp-blue;
    }

    &#presentation {
        // margin-top: 6rem;
        // height: 86vh;
        // background: url('./assets/img/sky.jpeg') center no-repeat;
        // background-size: cover;
        // background-attachment: fixed;
        // background-blend-mode: soft-light;

        @media (min-width: 768px) {
            // margin-top: 5rem;
            // height: 90vh;
        }

        .container {
            p {
                text-align: center;
                @media (min-width: 768px) {
                    max-width: 59%;
                    margin: auto;
                    font-size: 3rem;
                }
            }
        }

        // .i-down {
        //     font-size: 2rem;
        //     position: absolute;
        //     width: fit-content;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     margin-left: auto;
        //     margin-right: auto;
        //     padding: .2rem 1rem;
        //     &:hover {
        //         cursor: pointer;
        //     }
        // }
    }

    h1 {
        width: fit-content;
        margin: 1.5rem auto;
        // padding-left: 5.5rem;
        padding-top: 1rem;
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
        text-align: center;
        // color: $color__bgmp-blue;
        // background: url('./assets/img/triangle.png') no-repeat;
        // background-position: left;
        // background-size: 5rem;

        span {
            display: block;
            // margin-top: -2rem;
            // font-size: 1rem;
            font-weight: 900;
            font-family: $font__heading;
            color: $color__bgmp-pink;
        }

        @media (min-width: 768px) {
            text-align: center;
            margin: 4rem auto;
            // padding-left: 4rem;
            padding-top: 0;
            font-size: 4.5rem;
            line-height: initial;
            // background-size: 4rem;

            span {
            //     display: initial;
            //     margin-top: 0;
                font-size: 4.5rem;
            }
        }
    }

    &#description {
        h2 {
            display: none;
        }
        // .btn {
        //     color: $color__bgmp-purple;
        //     border-color: $color__bgmp-purple;
        //     &:hover {
        //         background: $color__bgmp-blue;
        //         border-color: $color__bgmp-blue;
        //         color: #FFF;
        //     }
        // }
    }

    &#portfolio{
        .websites {
            padding-bottom: 2rem;
            .items {
                @extend .portfolios_page ;
            }
        }
    }

    &#blog {
        height: fit-content;
        min-height: 50vh;
        background: url('./assets/img/water.jpg') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: soft-light;
        position: relative;
        background-color: rgba(#FFF,0.3); /* white background with opacity */

        h2 {
            color: $color__bgmp-purple;
            margin: 2rem auto;
        }

        a {
            transition: 0.3s;
            &:hover {
                text-decoration: none;
            }
        }

        span {
            font-weight: 700;
            color: $color__bgmp-purple;
            transition: 0.3s;

            &:hover {
                color: $color__bgmp-pink;
            }
        }
    }

    &#contact {
        .row {
            justify-content: space-between;
            align-items: center;

            img {
                display: block;
                width: 90%;
                margin: auto;
            }
        }
    }

}