section {
    padding: 4rem 1rem;

    &#presentation {
        height: 86vh;
        background: url('./assets/img/sky.jpeg') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: soft-light;

        .container {
            padding: 2rem;

            p {
                text-align: center;
            }
        }

        .i-down {
            font-size: 2rem;
            position: absolute;
            width: fit-content;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            &:hover {
                cursor: pointer;
            }
        }
    }

    h1 {
        width: fit-content;
        margin: 1.5rem auto;
        padding-left: 5.5rem;
        padding-top: 1rem;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 700;
        color: $color__bgmp-blue;
        background: url('./assets/img/triangle.png') no-repeat;
        background-position: left;
        background-size: 5rem;

        span {
            display: block;
            margin-top: -2rem;
            font-size: 1rem;
            font-weight: 400;
            font-family: $font__poppins;
            color: $color__bgmp-grey;
        }

        @media (min-width: 768px) {
            text-align: center;
            margin: 3rem auto;
            padding-left: 4rem;
            padding-top: 0;
            line-height: initial;
            background-size: 4rem;

            span {
                display: initial;
                margin-top: 0;
                font-size: 1.5rem;
            }
        }
    }
}