# ignore everything in the root except the "wp-content" directory.
wp-admin
wp-includes
!wp-content/*
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess

# ignore everything in the "wp-content" directory
# ignore all languages
wp-content/languages
wp-content/upgrade
wp-content/uploads

# ignore all plugins
wp-content/plugins
wp-content/mu-plugins

# ignore specific themes, except bgmp theme
wp-content/themes/twenty*/
!wp-content/themes/bgmp
!wp-content/themes/bgmp/index.php
wp-content/themes/bgmp/assets/img

# ignore node dependency directories
node_modules/
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore specific files
composer.lock
package-lock.json
maintenace.html