h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	clear: both;
	font-family: $font__atma;
	font-weight: 700;
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	letter-spacing: -0.0415625em;
	line-height: 1.25;
	margin: 3.5rem 0 2rem;
}

h1,
.h1 {
	font-size: 3.6rem;
	font-weight: 800;
	line-height: 1.138888889;
}

h2,
.h2 {
	font-size: 3.2rem;
}

h3,
.h3 {
	font-size: 2.8rem;
}

h4,
.h4 {
	font-size: 2.4rem;
}

h5,
.h5 {
	font-size: 2.1rem;
}

h6,
.h6 {
	font-size: 1.6rem;
	letter-spacing: 0.03125em;
	text-transform: uppercase;
}