/** CUSTOM COLORS **/
// $color__bgmp-blue: #DB1869;
$color__bgmp-purple: #D99543;
$color__bgmp-wheat: #D0EBFC;
// $color__bgmp-grey: #000000;
// $color__bgmp-pink: #6ABFB5;

$color__bgmp-pink: #DB1869;
$color__bgmp-blue: #D0EBFC;
$color__bgmp-green: #6ABFB5;
$color__bgmp-orange: #D99543;
$color__bgmp-grey: #000000;

/** MAIN COLORS **/
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__bgmp-green;
$color__link-visited: $color__link;
$color__link-hover: darken($color__bgmp-green, .25);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
