.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			// :hover > a,
			// .focus > a {
			// }

			// a:hover,
			// a.focus {
			// }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		// &:hover > a,
		// &.focus > a {
		// }
	}

	a {
		display: block;
		text-decoration: none;
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a,
	// .current-menu-ancestor > a {
	// }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 3rem 0;
	}

	.nav-links {
		display: flex;
		font-weight: 700;
		font-size: 1.2rem;

		.nav-title {
			padding: 0 .5rem;
		}
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


/* FOOTER */
footer {
	margin-bottom: 1.5rem;

	.row {
		justify-content: center;
		align-items: center;
		.logo {
			text-align: center;
			a img {
				width: 200px;
			}
		}
		.search {
			text-align: center;

			.search-submit {
				background: none;
				font-size: 1.2rem;
				padding: 0;
				border: none;
				line-height: 2rem;
				transition: 0.3s;

				&:hover {
					font-size: 1.6rem;
				}
			}

			@media (min-width: 768px) {
				text-align: left;
			}
		}
	}

	a,
	a:visited {
		color: $color__bgmp-grey;
		transition: 0.3s;

		&:hover {
			text-decoration: none;
			color: $color__bgmp-pink;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			display: block;
			background: none;
			font-size: .8rem;
			text-align: center;
		}
	}

	.contact-us {
		border-color: $color__bgmp-grey;
		transition: 0.7s;

		&:hover {
			background: $color__bgmp-pink;
			border-color: $color__bgmp-pink;
			color: #FFF;

			& > a {
				color: #FFF;
			}
		}
	}

	.social-network {
		p {
			text-align: center;
			color: $color__bgmp-blue;
			margin-bottom: .8rem;
			font-weight: 700;
		}
		.row {
			text-align: center;
			i {
				font-size: 2rem;
				color: rgba($color__bgmp-grey, .6);
				transition: 0.5s;
				&.fa-facebook:hover {
					color: #3b5998;
				}
				&.fa-instagram {
					border-radius: 10px;
					padding: 0 2px;
					&:hover {
						background: linear-gradient(to top right , #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
						background: -webkit-linear-gradient(to top right , #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
						background: -moz-linear-gradient(to top right , #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
						color: white;
					}
				}
				&.fa-linkedin:hover {
					color: #0e76a8;
				}
				&.fa-twitter:hover {
					color: #1DA1F2;
				}
				&.fa-github:hover {
					color: #333;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.logo,
		.contact-us,
		.social-network {
			margin: .5rem auto;
		}
	}

	.mentions {
		margin-top: 2rem;
		color: $color__bgmp-grey;
		font-size: .8rem;

		.copy {
			text-align: right;
		}

		@media (max-width: 968px) {
			.col-12 {
				text-align: center;
			}
		}
	}
}
