button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn {
	margin: 2rem auto;
	padding: .5rem 3rem;
	text-transform: uppercase;
	color: $color__bgmp-orange;
	font-size: initial;
	font-weight: 600;
	border: 2px solid $color__bgmp-orange;
	border-radius: initial;
	transition: 0.7s;

	&:visited {
		color: $color__bgmp-orange;
	}

	&:hover {
		background: $color__bgmp-green;
		color: #FFF;
		border-color: $color__bgmp-green;
	}
}



#cookie-notice {
	.cn-button {
		background: $color__bgmp-pink;
		color: #FFFFFF;
	}
}
